* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 18px Arial, sans-serif;
}

.wrapper {
	min-width: 1000px;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 250px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-left: 300px solid #B5E3FF;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
.content {
	padding: 0 20px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 300px;
	position: relative;
	background: #B5E3FF;
	left: -300px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 250px;
	background: #BFF08E;
}
